button{
    width: 212px;
    height: 56px;
    left: 968px;
    top: 42px;
    border-radius: 6px;

    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
}

.downloadApp{
    width: 212px;
    height: 56px;
    left: 732px;
    top: 682px;
    
    background: #ED553B;
    border-radius: 6px;
    
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.signUp{

    background: rgba(4, 58, 103, 0.8);

    color: #FFFFFF;

    @media @mobile{
        width: 100%;
        height: 56px;
        left: 16px;
        top: 561px;
    
        background: rgba(237, 85, 59, 0.8);
        border-radius: 6px;
    }
}

.signIn{
    background: #FFFFFF;

    color: #315C81;

    @media @mobile{
        width: 100%;
        height: 56px;
        left: 16px;
        top: 561px;

        background: white;
        color: rgba(237, 85, 59, 0.8);
        border: 1px rgba(237, 85, 59, 0.8) solid; 
    }
}

h1{
    width: 553px;
    height: 52px;
    left: 732px;
    top: 195px;
}

h2{
    width: 376px;
    height: 45px;
    left: 732px;
    top: 358px;
}

h3{
    width: 230px;
    height: 30px;
    left: 732px;
    top: 490px;
}

h4{
    width: 508px;
    height: 105px;
    left: 732px;
    top: 533px;

}